{% extends 'trips/base.html' %}
{% load widget_tweaks %}
{% block content %}

<style>
  body {
    background-image: url(../static/images/compare-page1.jpg), url(../static/images/compare2.jpg), url(../static/images/compare3.jpg);
    background-repeat: no-repeat;
    background-position: bottom center, bottom left, bottom right;
    background-size: 400px;
    background-attachment:fixed !important;
  }

 /* styling to center divs */
  #icenter {
    display: table;
    margin: 0 auto;
  }
  .bg-custom {
        background-color: #e9f2f9;
        border-radius: 10px;
    }
</style>

<section class="container" style="padding-top: 20px">
  <nav class="navbar navbar-default">
    <div class="col-md-10 navbar-header justify-content-start">
      <h2>Compare Trips</h2>    
    </div>
    <div class="col-md-2">
        <div class="col justify-content-end">
            <a href="{% url 'trips:saved_trips' %}" class="btn btn-primary">Back to Saved Trips</a>
        </div>
    </div>
  </nav>
  <!-- First card -->
  <br>
  <div class="col-md-6">
    <div class="card" style="width: 40rem; height: 40rem; border-radius: 10px;">
      <div class="card-body bg-custom">
          <div class="card-title">
            <div id="icenter">
              <h1>First Trip</h1>
            </div>
          </div>

              <!-- Information for trips -->
              <div class="d-flex flex-column">
                <div class="p-2"> Flights: </div>
                <div class="p-2"> Departure Date: </div>
                <div class="p-2"> Returning Date: </div>
                <div class="p-2"> Departure Airport: </div>
                <div class="p-2"> Destination Airport: </div>
              </div>

              <!-- Total cost information -->
              <div class="row justify-content-start">
                  <div id="icenter">
                      <h2 class="card-title"> Total Cost: </h2>
                    </div>
              </div>
              <br><br>
              <div id="icenter">
              <a href="{% url 'trips:view_flight' %}" class="btn btn-primary">View more </a>
              </div>
          </div>
      </div>
  </div>

  <!-- Second card -->
  <div class="col-md-6">
    <div class="card" style="width: 40rem; height: 40rem; border-radius: 10px;">
      <div class="card-body bg-custom">
          <div class="card-title">
            <div id="icenter">
              <h1>Second Trip</h1>
            </div>
          </div>

            <!-- Information on trips -->
            <div class="d-flex flex-column">
              <div class="p-2"> Flights: </div>
              <div class="p-2"> Departure Date: </div>
              <div class="p-2"> Returning Date: </div>
              <div class="p-2"> Departure Airport: </div>
              <div class="p-2"> Destination Airport: </div>
            </div>

            <!-- Total cost information -->
            <div class="row justify-content-start">
              <div id="icenter">
                <h2 class="card-title"> Total Cost: </h2>
              </div>
            </div>
          <br><br>
          <div id="icenter">
          <a href="{% url 'trips:view_flight' %}" class="btn btn-primary">View more</a>
          </div>
        </div>
                                
      </div>
    </div>
                
    </section>

  {% endblock %}