<br /> <br />
DESTINATION PAGE FOR TRIP
<br /> Example Destination Page:
<br /> Ending Airport
<br /> Ending Date
<br /> Filter by travel distance
<br /> Filter by travel time
<br /> <br />
<a href="{% url 'trips:view_flight' %}">Example Flight 1</a>
<br />
<a href="{% url 'trips:destination' %}">Add Flight 1 to trip</a>
<br /> <br />
<a href="{% url 'trips:view_flight' %}">Example Flight 2</a>
<br />
<a href="{% url 'trips:destination' %}">Add Flight 2 to trip</a>
<br /> <br />
<a href="{% url 'trips:view_flight' %}">Example Flight 3</a>
<br />
<a href="{% url 'trips:destination' %}">Add Flight 3 to trip</a>
<br /> <br />
<a href="{% url 'trips:welcome' %}">Back to Start Page</a>