{% extends 'trips/base.html' %}
{% load widget_tweaks %}

{% block extra_css %}
{{ form.media.css }}
{% endblock %}

{% block content %}
<style>
    body {
        background-image: url(../static/images/friendly-receptionists-from-hotel-registration-desk-help-clients_74855-4420.jpg);
        background-repeat: no-repeat;
        background-position: left bottom;
        background-size: 375px;
        background-attachment:fixed !important;
    }
    .bigger { font-size:135%; }

</style>
<section class="container">
<div class="row" style="padding-top: 20px">
    <!-- Start of left side elements -->
    <div class="col-md-4">
        {% if form.errors %}
            <p style="color:red">Error: Departure date is in the past.</p>
        {% endif %}
        <form action="{% url 'trips:update_search' %}" method="post" class='form'>
            {% csrf_token %}
            
            <div class="col-md-6">
                <h5 class="card-title">From</h5>
                {% render_field form.departure class+="form-control" %}
                <h5 class="card-title">Departing Date</h5>
                {% render_field form.departure_date class+="form-control" type='date'%}
            </div>
            <!-- To Label -->
            <div class="col-md-6">
                <h5 class="card-title">To</h5>
                {% render_field form.arrival class+="form-control" %}
                <h5 class="card-title">Returning Date</h5>
                {% render_field form.return_date class+="form-control" type='date'%}
            </div>

            <!-- Start of Lower Filters -->
            <div>
                <!-- Price Range Label/Slider -->
                <div class="form-group col-md-12">
                    <h5 class="card-title">Daily Budget</h5>
                    {% render_field form.daily_budget class+="form-control"%}
                </div>

            <!-- Region Dropdown -->
            <div class="form-group col-md-12">
                <h5 class="card-title">Prefered Region </h5>
                {% render_field form.region class+="form-control"%}
            </div>

            <!-- Activity Tab -->
            <div class="form-group col-md-12">
                <h5 class="card-title">Prefered Activity </h5>
                {% render_field form.activity class+="form-control"%}
            </div>

            <!-- Travelers Tab -->
            <div class="form-group col-md-12">
                <h5 class="card-title">Number of Travelers</h5>
                {% render_field form.travelers class+="form-control"%}
            </div>

            <!-- Priority Tab -->
            <div class="form-group col-md-12">
                <h5 class="card-title">Prioritization</h5>
                {% render_field form.priority class+="form-control"%}
            </div>

            <!-- One way/Two way-->
            <div class="form-group col-md-12">
                <h5 class="card-title">One Way or Round Trip</h5>
                {% render_field form.flight_type class+="form-control"%}
            </div>
        </div>
        <!-- Search/Inspire Buttons -->
        <div class="col-md-12">
            <figure class="center-block">
                <!-- Should only be one search button -->
                <input type='submit' class="btn btn-medium btn-primary btn-rounded" name="with_destination" value="Update Search">
                <input type='submit' class="btn btn-medium btn-primary btn-rounded" name="without_destination" value="Inspire me!">
                <div style="line-height:15px;">
                    <br>
                </div>
            </figure>
            </div>
    </div>
        <!-- Start of Cards Section -->
        <div class="col-md-8">
            {% for destination, info in destinations.items %}
                <div class="card mb-2">
                    <div class="card-body">
                            <div class="col-md-6">
                                <h4 class="card-title"><strong>{{destination}}</strong></h4>
                                <br></br>
                                <input type='submit' class="btn btn-medium btn-primary btn-rounded" name="set_destination" value="View Flights to {{info.1}}">
                            </div>
                            <div class="col-md-6">
                                <h4 class="card-title">Total Cost: <strong>${{info.5}}</strong></h4>
                                <h5 class="card-title">Number of Travelers: {{info.4}}</h5> 
                                <h5 class="card-title">Flight Cost: ${{info.0}}</h5> 
                                <h5 class="card-title">Daily Budget: ${{info.2}}</h5> 
                                <h5 class="card-title">Number of Days: {{info.3}}</h5> 
                                <h6 class="card-title">Travelers * (Flight Cost + Daily Budget * Days) = <span class='bigger'><strong>${{info.5}}</strong></span></h6>
                            </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </form>
</div>

</section>
{% endblock %}

{% block extra_js %}
{{ form.media.js }}
{% endblock %}
