{% extends 'trips/base.html' %}
{% load widget_tweaks %}

{% block extra_css %}
{{ form.media.css }}
{% endblock %}

{% block content %}
<style>
    body {
        background-image: url(../static/images/friendly-receptionists-from-hotel-registration-desk-help-clients_74855-4420.jpg);
        background-repeat: no-repeat;
        background-position: left bottom;
        background-size: 375px;
        background-attachment:fixed !important;
    }
    .bigger { font-size:135%; }
    .bg-custom {
        background-color: #e9f2f9;
        border-radius: 10px !important;
    }
    .bg-other {
        background-color: #FFFFFF;
        border-radius: 15px;
    }
    .padding {
        margin-bottom: 0 !important;
    }

</style>
<section class="container">
<div class="row" style="padding-top: 20px">
    <!-- Start of left side elements -->
    <div class="col-md-4">
        {% if form.errors %}
            <p style="color:red">Error: Departure date is in the past.</p>
        {% endif %}
        <form action="{% url 'trips:update_search' %}" method="post" class='form'>
            {% csrf_token %}
            
            <div class="col-md-6">
                <h5 class="card-title">From</h5>
                {% render_field form.departure class+="form-control" %}
                <h5 class="card-title">Departing Date</h5>
                {% render_field form.departure_date class+="form-control" type='date'%}
            </div>
            <!-- To Label -->
            <div class="col-md-6">
                <h5 class="card-title">To</h5>
                {% render_field form.arrival class+="form-control" %}
                <h5 class="card-title">Returning Date</h5>
                {% render_field form.return_date class+="form-control" type='date'%}
            </div>

            <!-- Start of Lower Filters -->
            <div>
                <!-- Price Range Label/Slider -->
                <div class="form-group col-md-12">
                    <h5 class="card-title">Daily Budget</h5>
                    {% render_field form.daily_budget class+="form-control"%}
                </div>

            <!-- Region Dropdown -->
            <div class="form-group col-md-12">
                <h5 class="card-title">Prefered Region </h5>
                {% render_field form.region class+="form-control"%}
            </div>

            <!-- Activity Tab -->
            <div class="form-group col-md-12">
                <h5 class="card-title">Prefered Activity </h5>
                {% render_field form.activity class+="form-control"%}
            </div>

            <!-- Travelers Tab -->
            <div class="form-group col-md-12">
                <h5 class="card-title">Number of Travelers</h5>
                {% render_field form.travelers class+="form-control"%}
            </div>

            <!-- One way/Two way-->
            <div class="form-group col-md-12">
                <h5 class="card-title">One Way or Round Trip</h5>
                {% render_field form.flight_type class+="form-control"%}
            </div>
        <!-- Search/Inspire Buttons -->
            <div class="col-md-12">
                <figure class="center-block">
                    <!-- Should only be one search button -->
                    <input type='submit' class="btn btn-medium btn-primary btn-rounded" name="with_destination" value="Update Search">
                    <input type='submit' class="btn btn-medium btn-primary btn-rounded" name="without_destination" value="Inspire me!">
                    <div style="line-height:15px;">
                        <br>
                    </div>
                </figure>
            </div>
        </form>
    </div>
    </div>
        <!-- Start of Cards Section -->
        <div class="col-md-8">
            <p class="text-right">Total Cost = Travelers * (Flight Cost + Daily Budget * Days)</p>
            {% for destination, info in destinations.items %}
                <div class="card mb-2" style="border-radius: 10px;">
                    <div class="card-body bg-custom">
                            <div class="col-md-6">
                                <h4 class="card-title"><strong>{{destination}}</strong></h4>
                                <br></br>
                                <form action="{% url 'trips:select_destination' %}" method="post" class='form'>
                                    {% csrf_token %}
                                    <input type='hidden' name='departure_id' value='{{departure.id}}'>
                                    <input type='hidden' name='arrival' value='{{info.1}}'>
                                    <input type='hidden' name='departure' value='{{departure}}'>
                                    <input type='hidden' name='destination' value='{{cost.1}}'>
                                    <input type='hidden' name='departure_date' value='{{form.departure_date.value}}'>
                                    <input type='hidden' name='return_date' value='{{form.return_date.value}}'>

                                    <input type='submit' class="btn btn-medium btn-primary btn-rounded" name="set_destination" value="View Flights to {{info.1}}">
                                </form>
                            </div>
                            <div class="col-md-6 bg-other padding">
                                <h4 class="card-title">Total Cost: <strong>${{info.5}}</strong></h4>
                                <h5 class="card-title">Number of Travelers: {{info.4}}</h5> 
                                <h5 class="card-title">Flight Cost: ${{info.0}}</h5> 
                                <h5 class="card-title">Daily Budget: ${{info.2}}</h5> 
                                <h5 class="card-title">Number of Days: {{info.3}}</h5> 
                            </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </form>
</div>

</section>
{% endblock %}

{% block extra_js %}
{{ form.media.js }}
{% endblock %}
