{% load static %}
{% load widget_tweaks %}
<html>
<head>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	 <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/account.css' %}">
</head>
<body>

	<div class="container">
    <div class="row">
      <div class="col-sm-4 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Forgot Password</h5>
            <form action="{% url 'trips:forgot_password' %}" method="post" class='form-signin'>
              {% csrf_token %}
              <div class="form-group">
                {{form.email.label}}
                {% render_field form.email class+="form-control" %}
              </div>
              <div class='col-md-12'>
              <input type='submit' class="btn btn-large btn-primary btn-rounded" name="submit" value="SUBMIT" style="width:100%">
              </div>
              <div style = 'padding-top: 5px'></div>
              <div class = 'col-md-12' style='padding-top: 35 px;'>
                <a href="{% url 'login' %}" class="btn btn-lg btn-primary btn-block text-uppercase">Back</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>