{% extends 'trips/base.html' %}
<!DOCTYPE html>

{% block content %}
  <!-- End of Navigation bar -->
<style>
  body {
  background-image: url(../static/images/tired-office-employee-sleeping-workplace_74855-5296.jpg) !important;
  background-repeat: no-repeat !important;
  background-position: right bottom !important;
}
</style>
<section class="container">
  <div class="row">
    <div class="col-md-4">
      <h3> Account Settings </h3>
      <div class="col-md-6">
        <h4 class="card-title">Change Password</h4>
        <input type="password" class="form-control" id="newpassword" aria-describedby="newpass" placeholder="New Password">
        <input type="password" class="form-control" id="confirmpass" aria-describedby="newpass" placeholder="Confirm Password">
      </div>
      <div>
        <div class="col-md-6">
          <h4 class="card-title">Email Preferences</h4>
        </div>
      </div>
      
      <div class="btn-group">
        <input type='submit' class="btn btn-primary pull-right" name="view_saved" value="Saved Trips"> 
        <input type='submit' class="btn btn-primary pull-right" name="log_out" value="Logout"> 
      </div>
    </div>

     
  </div>

</section>
{% endblock %}