{% extends 'trips/base.html' %}
{% load widget_tweaks %}

{% block content %}

<style>
    body {
    background-image: url(../static/images/tourists-with-bags-checking-hotel_74855-5297.jpg);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 400px;
    background-attachment:fixed !important;
    }
</style>

<section class="container">

<nav class="navbar navbar-default">
        <div class="navbar-header justify-content-start">
        <h2>Saved Trips</h2>
        </div>
        <ul class="nav navbar-nav justify-content-end">
        <li class="active"><a href="{% url 'trips:welcome' %}">Back to Browsing</a></li>
        </ul>
    </nav>



<!-- Start of Cards Section -->
    <!-- Individual Cards -->
    <div class="col-md-4">
        <div class="card" style="width: 25rem; height: 25rem;">
            <div class="card-body">
                <div class="card-title">
                    <h4>Trip 1</h4>
                </div>

                <div class="row justify-content-start">
                    <h5 class="card-title">Flights</h5>
                </div>
                <div class="row justify-content-start">
                    <h5 class="card-title">Budget</h5>
                </div>
                <div class="row justify-content-start">
                    <h5 class="card-title">Total Cost</h5>
                </div>
                <a href="#" class="btn btn-primary">Book This Flight</a>
                <br><br>
                <a href="{% url 'trips:profile' %}" class="btn btn-primary">View Trip</a>
            </div>
                    
        </div>
    </div>

    <div class="col-md-4">
        <div class="card" style="width: 25rem; height: 25rem;">
            <div class="card-body">
                <div class="card-title">
                    <h4>Trip 2</h4>
                </div>

                <div class="row justify-content-start">
                    <h5 class="card-title">Flights</h5>
                </div>
                <div class="row justify-content-start">
                    <h5 class="card-title">Budget</h5>
                </div>
                <div class="row justify-content-start">
                    <h5 class="card-title">Total Cost</h5>
                </div>
                <a href="#" class="btn btn-primary">Book This Flight</a>
                <br><br>
                <a href="{% url 'trips:profile' %}" class="btn btn-primary">View Trip</a>
            </div>
                    
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="card" style="width: 25rem; height: 25rem;">
            <div class="card-body">
                <div class="card-title">
                    <h4>Trip 3</h4>
                </div>

                <div class="row justify-content-start">
                    <h5 class="card-title">Flights</h5>
                </div>
                <div class="row justify-content-start">
                    <h5 class="card-title">Budget</h5>
                </div>
                <div class="row justify-content-start">
                    <h5 class="card-title">Total Cost</h5>
                </div>
                <a href="#" class="btn btn-primary">Book This Flight</a>
                <br><br>
                <a href="{% url 'trips:profile' %}" class="btn btn-primary">View Trip</a>
            </div>
                    
        </div>
    </div>

    <!-- Compare Button Below Cards -->
    <div class="row">
        <figure class="col-sm-3 center-block">
            <br>
            <a href="{% url 'trips:compare' %}" class="btn btn-large btn-primary btn-rounded">Compare Trips</a>
        </figure>
    </div>
    
</section>
{% endblock %}
