<a href="{% url 'trips:sign_in' %}">Optional Sign in</a>
<br /> <br />
<a href="{% url 'trips:saved_trips' %}">If signed in, optional view trips</a>
<br /> <br />
STARTING PAGE FOR TRIP
<br /> Example Start Page:
<br /> Starting Airport
<br /> Starting Date
<br /> <br />
<a href="{% url 'trips:dest' %}">Submit Starting Info</a>

<br /> <br />
<!-- <div
  data-skyscanner-widget="SearchWidget"
  data-locale="en-GB"
  data-market="GB"
  data-currency="GBP"
></div>
<script src="https://widgets.skyscanner.net/widget-server/js/loader.js" async></script> -->

