{% extends 'trips/base.html' %}
{% load widget_tweaks %}

{% block content %}
<style>
    body {
        background-image: url(../static/images/individual.jpg);
        background-repeat: no-repeat;
        background-position: left bottom;
        background-attachment:fixed !important;
    }
</style>
<section class="container">
    <div class="row">
        <!-- Start of left side elements -->
        <div class="col-md-4">
            {% if form.errors %}
                <p style="color:red">Error: Departure date is in the past.</p>
            {% endif %}
            <form action="{% url 'trips:view_flight' %}" method="post" class='form'>
                {% csrf_token %}
                <!-- From Label -->
                <div class="col-md-6">
                    <h5 class="card-title">From</h5>
                    {% render_field form.departure class+="form-control" %}
                    <h5 class="card-title">Departing Date</h5>
                    {% render_field form.departure_date class+="form-control" type='date'%}
                </div>
                <!-- To Label -->
                <div class="col-md-6">
                    <h5 class="card-title">To</h5>
                    {% render_field form.arrival class+="form-control" %}
                    <h5 class="card-title">Returning Date</h5>
                    {% render_field form.return_date class+="form-control" type='date'%}
                </div>

                <!-- Start of Lower Filters -->
                <div>
                    <!-- Number of Stops Dropdown -->
                    <div class="form-group col-md-12">
                        <h5 class="card-title">Number of Stops</h5>
                        {% render_field form.stops class+="form-control"%}
                    </div>

                    <!-- Travelers Number Input -->
                    <div class="form-group col-md-12">
                        <h5 class="card-title">Number of Travelers</h5>
                        {% render_field form.travelers class+="form-control"%}
                    </div>

                     <!-- Type of Flight Tab -->
                     <div class="form-group col-md-12">
                        <h5 class="card-title">Type Of Flight</h5>
                        {% render_field form.type class+="form-control"%}
                    </div>

                    <!-- Type of Flight Tab -->
                    <div class="form-group col-md-12">
                        <h5 class="card-title">Number of Bags</h5>
                        {% render_field form.bags class+="form-control"%}
                    </div>

                    <!-- Airline Tab -->
                    <div class="form-group col-md-12">
                        <h5 class="card-title">Airline</h5>
                        {% render_field form.airline class+="form-control"%}
                    </div>

                    <!-- Priority Tab -->
                    <div class="form-group col-md-12">
                        <h5 class="card-title">Flight Priority</h5>
                        {% render_field form.priority class+="form-control"%}
                    </div>
                </div>
                <!-- Search/Inspire Buttons -->
                <div class="col-md-12">
                    <figure class="center-block">
                        <!-- Should only be  one search button -->
                        <input type='submit' class="btn btn-medium btn-primary btn-rounded" name="with_destination" value="Specify Destination">
                        <input type='submit' class="btn btn-medium btn-primary btn-rounded" name="without_destination" value="Inspire me!">
                    </figure>
                </div>
            </form>
        </div>

<!-- Start of Cards Section -->
        <div class="col-md-8">
            <!-- Individual Cards -->
            <div>
                {% for carrier, cost in destinations.items %} 
                <div class="card mb-3">
                    <div class="card-body">
                            <div class="col-md-6">
                                <h5 class="card-title">{{carrier}}</h5>
                            </div>
                            <div class="col-md-6">
                                <h5 class="card-title">Flight Cost (${{cost}}) + Daily Budget * Days = Total Cost</h5>
                            </div>
                            <form method='POST' action="{% url 'trips:add_flight' %}" class="form">
                                {% csrf_token %}
                                <input type='hidden' name='carrier' value='{{carrier}}'>
                                <input type='hidden' name='cost' value='{{cost.0}}'>
                                <input type='hidden' name='departure' value='{{departure}}'>
                                <input type='hidden' name='destination' value='{{cost.1}}'>
                                <input type='hidden' name='departure_time' value='2020-06-03T00:00:00'>
                                <input type='hidden' name='arrival_time' value='2020-06-03T06:00:00'>
                                <input type='submit' class="btn btn-medium btn-primary btn-rounded" name="set_destination" value="Add Flight to Trip">
                            </form>
                       
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</section>
{% endblock %}