{% extends 'trips/base.html' %}
{% load widget_tweaks %}

{% block content %}

<style>
    body {
    background-image: url(../static/images/tourists-with-bags-checking-hotel_74855-5297.jpg);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 400px;
    background-attachment:fixed !important;
  }
</style>

<section class="container">
    <h1>Trip Title</h1>
    <!-- Start of Cards Section -->
    <div class="col-md-8">
        <!-- Trip Card -->
        <div class="card" style="width: 50rem;">
            <div class="card-body">
                    <!-- Flight Cards -->
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Flight 1</h4> <br>
                            <div class="row justify-content-start">
                                Starting Airport: AAA
                            </div> <br>

                            <div class="row justify-content-start">
                                Destination Airport: BBB
                            </div> <br>

                            <div class="row justify-content-start">
                                Start Date: mm/dd/yyyy
                            </div> <br>

                            <div class="row justify-content-start">
                                End Date: mm/dd/yyyy
                            </div> <br>

                            <div class="row justify-content-start">
                                Cost: $$$
                            </div> 

                            <a href="#" class="btn btn-primary">Book This Flight</a>
                        </div> 
                    </div>
                        
                    <br>
                    <br>

                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Flight 2</h4> <br>
                            <div class="row justify-content-start">
                                Starting Airport: BBB
                            </div> <br>

                            <div class="row justify-content-start">
                                Destination Airport: CCC
                            </div> <br>

                            <div class="row justify-content-start">
                                Start Date: mm/dd/yyyy
                            </div> <br>

                            <div class="row justify-content-start">
                                End Date: mm/dd/yyyy
                            </div> <br>

                            <div class="row justify-content-start">
                                Cost: $$$
                            </div> 

                            <a href="#" class="btn btn-primary">Book This Flight</a>
                        </div> 
                    </div>
                        
            </div>
        </div>
</section>
{% endblock %}
