{% extends 'trips/base.html' %}
{% load widget_tweaks %}

{% block content %}
<style>
    body {
        background-image: url(../static/images/individual.jpg);
        background-repeat: no-repeat;
        background-position: left bottom;
        background-attachment:fixed !important;
    }
    .bigger { font-size:135%; }
    .bg-custom {
        background-color: #e9f2f9;
        border-radius: 10px;
    }
    .bg-other {
        background-color: #FFFFFF;
        border-radius: 15px;
    }
    .padding {
        margin-bottom: 0 !important;
    }

</style>
<section class="container">
    <div class="row" style="padding-top: 20px">
        <!-- Start of left side elements -->
        {% if form.errors %}
        <p style="color:red">Error: Departure date is in the past.</p>
        {% endif %}
        <form action="{% url 'trips:view_flight' %}" method="post" class='form'>
            {% csrf_token %}
        <div class="col-md-4">
            
                <!-- From Label -->
                <div class="col-md-6">
                    <h5 class="card-title">From</h5>
                    {% render_field form.departure class+="form-control" %}
                    <h5 class="card-title">Departing Date</h5>
                    {% render_field form.departure_date class+="form-control" type='date'%}
                </div>
                <!-- To Label -->
                <div class="col-md-6">
                    <h5 class="card-title">To</h5>
                    {% render_field form.arrival class+="form-control" %}
                    <h5 class="card-title">Returning Date</h5>
                    {% render_field form.return_date class+="form-control" type='date'%}
                </div>

                <!-- Start of Lower Filters -->
                <div>
                    <!-- Number of Stops Dropdown -->
                    <div class="form-group col-md-12">
                        <h5 class="card-title">Daily Budget</h5>
                        {% render_field form.daily_budget class+="form-control"%}
                    </div>

                    <!-- Travelers Number Input -->
                    <div class="form-group col-md-12">
                        <h5 class="card-title">Region Selection</h5>
                        {% render_field form.region class+="form-control"%}
                    </div>

                     <!-- Type of Flight Tab -->
                     <div class="form-group col-md-12">
                        <h5 class="card-title">Activity Selection</h5>
                        {% render_field form.activity class+="form-control"%}
                    </div>

                    <!-- Type of Flight Tab -->
                    <div class="form-group col-md-12">
                        <h5 class="card-title">Number of Travelers</h5>
                        {% render_field form.travelers class+="form-control"%}
                    </div>

                    <!-- Flight Priority-->
                    <div class="form-group col-md-12">
                        <h5 class="card-title">Flight Priority</h5>
                        {% render_field form.priority class+="form-control"%}
                    </div>

                    <!-- One way/Two way-->
                    <div class="form-group col-md-12">
                        <h5 class="card-title">One Way or Round Trip</h5>
                        {% render_field form.flight_type class+="form-control"%}
                    </div>
                    
                </div>
                <!-- Search/Inspire Buttons -->
                <div class="col-md-12">
                    <figure class="center-block">
                        <!-- Should only be  one search button -->
                        <input type='submit' class="btn btn-medium btn-primary btn-rounded" name="with_destination" value="Update Search">
                        <input type='submit' class="btn btn-medium btn-primary btn-rounded" name="without_destination" value="Inspire me!">
                    </figure>
                </div>
        </div>

<!-- Start of Cards Section -->
        <div class="col-md-8">
            <!-- Individual Cards -->
            <div>
                <p class="text-right">Total Cost = Travelers * (Flight Cost + Daily Budget * Days)</p>
                {% for carrier, cost in destinations.items %} 
                <div class="card mb-3" style="border-radius: 10px;">
                    <div class="card-body bg-custom">
                        <form method='POST' action="{% url 'trips:add_flight' %}" class="form">
                            {% csrf_token %}
                            <div class="col-md-6">
                                <h4 class="card-title">{{carrier}}</h4>
                                <br></br>
                                <input type='submit' class="btn btn-medium btn-primary btn-rounded" name="set_destination" value="Add Flight to Trip">
                            </div>
                            <div class="col-md-6 bg-other padding">
                                <h4 class="card-title">Flight Cost = ${{cost.0}} </h4>
                                <h5 class="card-title">Number of Travelers: {{cost.4}}</h5> 
                                <h5 class="card-title">Daily Budget: ${{cost.2}}</h5> 
                                <h5 class="card-title">Number of Days: {{cost.3}}</h5>
                                <h4 class="card-title">Total Cost =  <span class='bigger'><strong>${{cost.5}}</strong></span> </h4>
                            </div>
                           
                                <input type='hidden' name='carrier' value='{{carrier}}'>
                                <input type='hidden' name='cost' value='{{cost.0}}'>
                                <input type='hidden' name='departure' value='{{departure}}'>
                                <input type='hidden' name='destination' value='{{cost.1}}'>
                                <input type='hidden' name='departure_time' value='2020-06-03T00:00:00'>
                                <input type='hidden' name='arrival_time' value='2020-06-03T06:00:00'>
                        
                            </form>
                       
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</section>
{% endblock %}