{% extends 'trips/base.html' %}
{% load widget_tweaks %}

{% block content %}
<!-- Jumbotron -->
  <section class="jumbotron">
    <div class="container float-left">
        <h2>Welcome Traveller</h2>
    </div>
  </section>
<!-- End of Jumbotron -->

<form action="{% url 'trips:welcome' %}" method="post" class='form'>
  {% csrf_token %}
  
  <section class="container">
    {% if form.errors %}
      <p style="color:red">Error: Departure date is in the past.</p>
    {% endif %}


    <div class="row">
      <figure class="col-sm-3">  
          {{form.departure.label}}
          {% render_field form.departure class+="form-control mr-sm-2" %}
      </figure>
      <figure class="col-sm-3">
          {{form.departure_date.label}}
          {% render_field form.departure_date class+="form-control mr-sm-2" type="date" %}
      </figure>
      <figure class="col-sm-3">
          {{form.return_date.label}}
          {% render_field form.return_date class+="form-control mr-sm-2" type="date" %}
      </figure>
    </div>
    
    <div class="row" style="padding-top : 15px">
      <figure class="center-block">
        <input type='submit' class="btn btn-large btn-primary btn-rounded" name="with_destination" value="Specify Destination">
        <input type='submit' class="btn btn-large btn-primary btn-rounded" name="without_destination" value="Inspire me!">
      </figure>
    </div>
  </section>

</form>
{% endblock %}
  