{% extends 'trips/base.html' %}
{% load widget_tweaks %}

{% block content %}
<!-- Jumbotron -->
  <section class="jumbotron">
    <div class="container float-left">
        <h2>Welcome Traveller</h2>
    </div>
  </section>
<!-- End of Jumbotron -->

<form action="{% url 'trips:welcome' %}" method="post" class='form'>
  {% csrf_token %}
  
  <section class="container">
    <div class="row">
      <figure class="col-sm-3">  
          {% render_field form.departure class+="form-control mr-sm-2" %}
      </figure>
      <figure class="col-sm-3">
          {% render_field form.departure_date class+="form-control mr-sm-2" type="date" %}
      </figure>
      <figure class="col-sm-3">
          {% render_field form.return_date class+="form-control mr-sm-2" type="date" %}
      </figure>
      <figure class="col-sm-3">
        {% render_field form.inspire_me class+="form-control mr-sm-2"%}
      </figure>
    </div>
    
    <div class="row" style="padding-top : 10px">
      <figure class="center-block">
        <input type='submit' value='Search' class="btn btn-large btn-primary btn-rounded">
        <!-- <a href="{% url 'trips:view_flight' %}" class="btn btn-large btn-primary btn-rounded">Search</a>
        <a href="{% url 'trips:destination' %}" class="btn btn-large btn-primary btn-rounded">Inspire Me!</a> -->
      </figure>
    </div>
  </section>

</form>
{% endblock %}
  