{% extends 'trips/base.html' %}

{% block content %}
<!-- Jumbotron -->
  <section class="jumbotron">
    <div class="container float-left">
        <h2>Welcome Traveller</h2>
    </div>
  </section>
<!-- End of Jumbotron -->



  <section class="container ">
    <form action="{% url 'trips:welcome' %}" method="post" class='form'>
      {% csrf_token %}
      <div class="row justify-content-md-center mb-4">
        <figure class="col-sm-2 center-blockx"> 
          <div class="form-group">
            <div class="mb-1">{{form.departure.label}}</div>
            {{form.departure}}
          </div>
        </figure>

        <figure class="col-sm-2 center-blockx">
          <div class="form-group">
            <div class="mb-1">{{form.departure_date.label}}</div>
            {{form.departure_date}}
          </div>
        </figure>

        <figure class="col-sm-2 center-blockx">
          <div class="form-group">
            <div class="mb-1">{{form.return_date.label}}</div>
            {{form.return_date}}
          </div>   
        </figure>
      </div>

      <div class="row justify-content-md-center mb-4">
        <figure class="col-sm-3 mx-auto">
          <div class='text-center'>
          <input type='submit' class="btn btn-large btn-primary btn-rounded" name="with_destination" value="Where to">
          <input type='submit' class="btn btn-large btn-primary btn-rounded" name="without_destination" value="Inspire me!">
          </div>
        </figure>
      </div>
    </form>

    <div class="row">

      
    </div>

    <div class="row">
      
    </div>
  </section>
{% endblock %}
  